# Atlas setup

In [46]:
import glob, os 
import pandas as pd

In [50]:
index = ['1', '2', '3', '4', '5', '6', '7']
regions = ["7Networks_1", "7Networks_2", "7Networks_3", "7Networks_4", "7Networks_5", "7Networks_6", "7Networks_7"]

In [61]:
atlas_df = pd.DataFrame(list(zip(index, regions)), columns=["index", "regions"])

In [62]:
atlas_df

  index      regions
0     1  7Networks_1
1     2  7Networks_2
2     3  7Networks_3
3     4  7Networks_4
4     5  7Networks_5
5     6  7Networks_6
6     7  7Networks_7

In [64]:
atlas_tsv = atlas_txt.replace(".txt", ".tsv")
atlas_tsv

'Yeo2011_7Networks_ColorLUT.tsv'

In [65]:
atlas_df.to_csv(atlas_tsv, sep="\t", index=False)

In [69]:
new_df= pd.read_csv("Yeo2011_7Networks_ColorLUT.tsv", sep="\t")
new_df.head()

   index      regions
0      1  7Networks_1
1      2  7Networks_2
2      3  7Networks_3
3      4  7Networks_4
4      5  7Networks_5